$left-nav-width: 25rem;

$flash-message-success-bg: #c9ebc9;
$flash-message-success-text: #2b7124;
$flash-message-error-bg: #f9d2cd;
$flash-message-error-text: #b0244f;

$color-violet-light: hsla(248, 41%, 58%, 0.3);
$color-violet-medium: #7469c0;
$color-violet-dark: #373257;

$color-blue-dark: #27334a;
$color-blue-medium: #4380b0;
