.col-form {
    background-color: lighten($color-blue-medium, 45);
    border-radius: 5px;
    color: #27334a;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border: 1px solid lighten($color-blue-medium, 35);

    &__group {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;

        &--error {
            background-color: hsla(349, 88%, 63%, 0.5);
            width: 80%;
            padding: 1rem 0 1rem 2rem;
        }
    }

    &__label {
        width: 95%;
        font-size: 1.4rem;
        margin-bottom: 3px;
    }
    &__input {
        width: 95%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        outline: none;
        border: 1px solid lighten($color-blue-medium, 30);
        border-radius: 5px;
        font-size: inherit;
        color: #27334a;

        &:active,
        &:focus {
            background-color: lighten($color: #0072b3, $amount: 60%);
        }
    }

    &__header {
        border-radius: 5px 5px 0 0;
        background-color: $color-blue-dark;
        color: white;
        display: flex;
        height: 6rem;
        align-items: center;
        justify-content: center;
        color: #eee;
        font-size: 1.8rem;
    }

    &__btn--submit {
        width: 95%;
        outline: none;
        border: none;
        height: 5rem;
        font-size: 1.6rem;
        background-color: $color-blue-medium;
        color: white;
        transition: 0.2s all ease-out;
        cursor: pointer;
        border-radius: 3px;
        margin-top: 3rem;
        margin-bottom: 3rem;

        &:hover {
            background-color: darken($color: $color-blue-medium, $amount: 10);
        }
    }
}
